a
{
	
	color: black;
	text-align: center;
	font-size: 14pt;
	margin: 0 auto;
	display:table;
}

a:hover
{
	
	color: blue;
	text-align: center;
	font-size: 14pt;
}

h1
{

	font-family: arial;
	font-size: 20pt;
	text-align: center;
}

h1
{
	background-color: #6699ff;
}

body
{
	background-color: #99ccff;